@value palette: '../../styles/palette.module.css';
@value beige from palette;

.wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: beige;
  opacity: 0;
  transform: translate(0, -10px);
  transition: 0.3s all ease-in-out;
}

.wrapperIsVisible {
  opacity: 1;
  transform: none;
}
