@value utils: '../../styles/utils.module.css';
@value thickBorder from utils;

.wrapper {
  composes: thickBorder;
  position: absolute;
  bottom: 4px;
  right: 0;
  display: flex;
  background: white;
  padding: 5px;
  align-items: center;
  cursor: pointer;
}

.wrapper span {
  pointer-events: none;
  color: lightgrey;
  transition: 0.3s color ease-in-out;
}

.prettyCheckbox {
  width: 12px;
  height: 12px;
  border: 2px solid lightgrey;
  border-radius: 2px;
  margin-left: 6px;
  transition: 0.3s all ease-in-out;
}

.wrapperIsActive .prettyCheckbox {
  background: black;
  border-color: black;
}

.wrapperIsActive span {
  color: black;
}
