<html>

<head>
  <title>Basic Response Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <style>
    body {
      background: #FEAC5E;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(45deg, #4BC0C8, #C779D0, #FEAC5E);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(45deg, #4BC0C8, #C779D0, #FEAC5E);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    #questions-container {
      min-height: 100%;
      max-width: 100%;
    }
  </style>
</head>

<body>
  <!-- The following code was just copied and pasted from Bootstrap's example with slight modification -->
  <div class="container text-center">
    <div class="row align-items-center" id="questions-container">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
            href="#list-home" role="tab" aria-controls="home">Question 1</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
            href="#list-profile" role="tab" aria-controls="profile">Question 2</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
            href="#list-messages" role="tab" aria-controls="messages">Question 3</a>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            <form class="question" action="/response" method="POST">
              <input type="hidden" value="What is your name?" name="question" />
              <div class="form-row">
                <label for="response-question-1" class="col-auto">What is your name?</label>
                <input id="response-question-1" class="form-control col" name="response" />
              </div>
              <button type="submit" class="btn btn-primary my-3">Submit</button>
            </form>
          </div>
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
            <form class="question" action="/response" method="POST">
              <input type="hidden" value="What is your age?" name="question" />
              <div class="form-row">
                <label for="response-question-2" class="col-auto">What is your age?</label>
                <input id="response-question-2" class="form-control col" name="response" />
              </div>
              <button type="submit" class="btn btn-primary my-3">Submit</button>
            </form>

          </div>
          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
            <form class="question" action="/response" method="POST">
              <input type="hidden" value="What is your height?" name="question" />
              <div class="form-row">
                <label for="response-question-3" class="col-auto">What is your height?</label>
                <input id="response-question-3" class="form-control col" name="response" />
              </div>
              <button type="submit" class="btn btn-primary my-3">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- JS, Popper.js, and jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script>
    $ = jQuery;
    $('.question').submit(function (e) {
      $(this).find('button').prop('disabled', true);
      e.preventDefault();
      console.log($(this).serialize());
      const action = $(this).attr('action');
      $.post(action, $(this).serialize()).done(function (response) {
        console.log('got this response', response);
        alert('submitted');
      }).fail(() => {
        alert('failed');
      }).always(() => {
        $(this).find('button').prop('disabled', false);
      })
    })
  </script>
</body>

</html>