/*
 * Start typographic values
 */

@media only screen and (max-width: 768px) {
  .v1Base {
    /* 30.5/41 */
    font-size: 1.25rem;
    line-height: 1.625rem;
  }

  .n1Base {
    /* 21/24 */
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .s1Base {
    /* 13/19 */
    font-size: 0.875rem;
    line-height: 1.1875rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1139px) {
  .v1Base {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .n1Base {
    font-size: 1rem;
    line-height: 1.1875rem;
  }

  .s1Base {
    font-size: 0.875rem;
    line-height: 1.1875rem;
  }
}

@media only screen and (min-width: 1140px) {
  .v1Base {
    font-size: 1.7rem;
    line-height: 2.1rem;
  }

  .n1Base {
    /* 21/24 */
    font-size: 1.3125rem;
    line-height: 1.5rem;
  }

  .s1Base {
  }
}
/*
 * End values
 */

.bold {
  font-family: 'Graphik-Bold';
}

.medium {
  font-family: 'Graphik-Medium';
}

.underline {
  text-decoration: underline;
}

.v1 {
  composes: v1Base;
  composes: medium;
}

.v1Bold {
  composes: v1Base;
  composes: bold;
  letter-spacing: 1px;
}

.n1 {
  composes: n1Base;
  composes: medium;
}

.n1Bold {
  composes: n1Base;
  composes: bold;
}

.s1 {
  composes: s1;
  composes: medium;
}

.s1Bold {
  composes: s1Base;
  composes: bold;
  letter-spacing: 0.5px;
}
